@model PersonalFinanceManager.Models.userInfo

@{
    ViewBag.Title = "Create";
}

<h2>Welcome to WalletWise!</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Sign Up</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.userFullName, "Enter your full name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userFullName, new { htmlAttributes = new { @class = "form-control", @type="text", @required="required" } })
            @Html.ValidationMessageFor(model => model.userFullName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.userMobile, "Enter your mobile number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userMobile, new { htmlAttributes = new { @class = "form-control", @type="number", @required = "required" } })
            @Html.ValidationMessageFor(model => model.userMobile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.userEmail, "Enter your email id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control", @id = "email", @type="email", @required = "required" } })
            @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.userName, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", @id = "username", @readonly = "readonly", @required = "required" } })
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.userPassword, "Set Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userPassword, new { htmlAttributes = new { @class = "form-control", @type="password", @required = "required" } })
            @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="signupBtn" type="submit" value="Submit" class="btn btn-outline-dark mt-2" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Already Registerd! Sign In Now", "SignIn")
</div>
