@model PersonalFinanceManager.Models.userInfo
<h2>Welcome, @Model.userFullName!</h2>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light mb-3">
    <div class="container">
        @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="nav nav-tabs navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Add Income", "AddIncome", "Income", new { area = "", userName = Model.userName }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Add Expense", "AddExpense", "Expense", new { area = "", userName = Model.userName }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Show Transaction", "TransactionHistory", "Dashboard", new { area = "", userName = Model.userName }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>
